#####
world/*
world_nether/*
world_the_end/*
Slumland/*
Slumland_nether/*
Slumland_the_end/*
Farmwelt/*
Farmwelt_nether/*
Farmwelt_the_end/*
Expert/*
Expert_nether/*
Expert_the_end/*
config/*
channels/*
libraries/*
logs/*
plugins/*
plugins_diagnose/*
scripts/
sounds/*
versions/*
.console_history
*.yml
*.pem
eula.txt
LICENSE.*
newlist.txt
*.ini
*!mirc.ini
*.bat
*.exe
*.json
*.jar
*.rar
*.properties