#####
world/*
world_nether/*
world_the_end/*
Slumland/*
Slumland_nether/*
Slumland_the_end/*
Farmwelt/*
Farmwelt_nether/*
Farmwelt_the_end/*
Expert/*
Expert_nether/*
Expert_the_end/*
config/*
channels/*
libraries/*
logs/*
plugins/*
plugins_diagnose/*
scripsts/users.ini
scripsts/scripts.rar
scripsts/vars.ini
sounds/*
versions/*
.console_history
*.yml
*.pem
eula.txt
LICENSE.*
newlist.txt
*.ini
*.bat
*.json
*.jar
*.rar
*.properties